<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DestinyWeaponSwap.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DestinyWeaponSwap.My.MySettings>
            <setting name="Nick" serializeAs="String">
                <value />
            </setting>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="Channel" serializeAs="String">
                <value />
            </setting>
            <setting name="LocW1" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LocW2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LocW3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LocW4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LocW5" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LocW6" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="LocW7" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="LocW8" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="LocW9" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LocW10" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="LocW11" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LocW12" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="LocW13" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="LocW14" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="Weapon1" serializeAs="String">
                <value>Hawksaw</value>
            </setting>
            <setting name="Weapon2" serializeAs="String">
                <value>Hawkmoon</value>
            </setting>
            <setting name="Weapon3" serializeAs="String">
                <value>LastWord</value>
            </setting>
            <setting name="Weapon4" serializeAs="String">
                <value>MIDA</value>
            </setting>
            <setting name="Weapon5" serializeAs="String">
                <value>MonteCarlo</value>
            </setting>
            <setting name="Weapon6" serializeAs="String">
                <value>NoLandBeyond</value>
            </setting>
            <setting name="Weapon7" serializeAs="String">
                <value>NTTE</value>
            </setting>
            <setting name="Weapon8" serializeAs="String">
                <value>RedDeath</value>
            </setting>
            <setting name="Weapon9" serializeAs="String">
                <value>SurosRegime</value>
            </setting>
            <setting name="Weapon10" serializeAs="String">
                <value>Thorn</value>
            </setting>
            <setting name="Weapon11" serializeAs="String">
                <value>PDX45</value>
            </setting>
            <setting name="Weapon12" serializeAs="String">
                <value>UniversalRemote</value>
            </setting>
            <setting name="Weapon13" serializeAs="String">
                <value>Vex</value>
            </setting>
            <setting name="Weapon14" serializeAs="String">
                <value>Zhalo</value>
            </setting>
            <setting name="AutoJoin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PoolCap" serializeAs="String">
                <value>14</value>
            </setting>
        </DestinyWeaponSwap.My.MySettings>
    </userSettings>
</configuration>